@font-face {
  font-family: "FuturaPT Book";
  src:
    url("../font/futura_pt_book.otf") format("opentype");
}

@font-face {
  font-family: "FuturaPT Light";
  src:
    url("../font/futura_pt_light.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: "FuturaPT Book";
  text-shadow: 6px 3px 8px #979797b8;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#root > :nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: 'FuturaPT Light';
}

#root > :nth-child(2) section {
  padding: 18px 15px 0;
}

#root > :nth-child(2) section p {
  margin: 0 0 18px;
  font-size: 18px;
}

#root > :nth-child(2) section img {
  position: relative;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  max-width: 480px;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media only screen and (min-width: 610px) {
  #root > :nth-child(2) {
    max-width: 1100px;
    padding: 0 40px;
  }
}

@media only screen and (min-width: 900px) {
  #root > :nth-child(2) {
    flex-direction: row;
  }

  #root > :nth-child(2) section {
    max-width: 50%;
  }
}