#nav-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15px 0;
  padding: 15px 0;
  font-family: "FuturaPT Light";
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

#nav-bar ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-bar ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  font-size: 18.5px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#nav-bar ul li a::after {
  position: absolute;
  content: "";
  top: 25px;
  padding-bottom: 8px;
  border-bottom: 2.5px solid;
}

#nav-bar ul li a:focus::after {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

#nav-bar ul li a:not(:focus)::after {
  width: 0%;
  transition: width 0.25s ease-in-out;
}

#nav-bar ul li:nth-child(1) a:hover,
#nav-bar ul li:nth-child(1) a::after {
  color: #d19548;
}

#nav-bar ul li:nth-child(2) a:hover,
#nav-bar ul li:nth-child(2) a::after {
  color: rgb(255, 84, 229);
}

#nav-bar ul li:nth-child(3) a:hover,
#nav-bar ul li:nth-child(3) a::after {
  color: rgb(132, 0, 255);
}

@media only screen and (min-width: 610px) {
  #nav-bar ul {
    width: unset;
    justify-content: unset;
    column-gap: 135px;
  }
}
